requests
streamlit-lottie
matplotlib
python-dotenv
pymongo
pandas
openai
azure-core
azure-identity
azure-search-documents
pypdf
docx2txt
streamlit
streamlit-chat
langchain
langchain-core
langchain_openai
langchain-text-splitters
streamlit-modal
pgvector
pluggy
agentmemory
pypdf2 
python-docx